<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} %-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Appender for Application -->
	<appender name="library" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/home/safeer/library.log" />
		<param name="MaxFileSize" value="5MB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} %-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Appender for 3rdparty Application -->
	<appender name="application" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/home/safeer/application.log" />
		<param name="MaxFileSize" value="5MB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} %-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Library Loggers -->
	<logger name="org.springframework">
		<level value="info" />
		<appender-ref ref="library" />
	</logger>

	<!-- 3rdparty Library Loggers -->
	<logger name="org.jboss.resteasy">
		<level value="info" />
		<appender-ref ref="library" />
	</logger>

	<!-- Library Loggers -->
	<logger name="org.spinach.cart">
		<level value="debug" />
		<appender-ref ref="application" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
