@CHARSET "UTF-8";

body {
	margin: 0px;
}

.header {
	height: 90px;
	border: 1px solid;
	float: left;
	width: 100%;
}

.header-logo {
	width: 230px;
	border: 1px solid;
	margin: 15px;
	float: left;
}

.header-search {
	border: 1px solid;
	width: 100px;
	float: left;
}


.header-right {
	float: right; 
	border : 1px solid;
	margin: 15px;
	border: 1px solid;
}

.header-cart {

}

.header-userinfo {
	
}

.footer {
	height: 300px;
	border: 1px solid;
	float: left;
	width: 100%;
}

.mainbody {
	float: left;
	height: 600px;
	border: 1px solid;
	width: 100%;
}

.mainbody-left-column {
	float: left;
	border: 1px solid;
	height: 100%;
	width: 250px;
}

.mainbody-central-section {
	height: 600px;
	float: left;
	border: 1px solid;
	width: 744px;
}

#page {
	width: 1000px;
	margin: 0px auto;
}